/* Header */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: black;
}

.navigationBar {
    background-color: #c2b9b9;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigationBar a {
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navigationBar a:hover {
    background-color: red;
    color:white;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropdownbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropdownbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .dropdown-content a:hover {
    background-color: #625d5d;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.textSpan{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    font-style: italic;
}

.button {
    background-color: black; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
    border-radius: 8px;
}

.button:hover {
    background-color: rgba(248, 22, 10, 0.8);
    color: white; 
}

/* Footer */

.footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 30px 50px;
    justify-content:space-between;
}

.footer_line{
    background-color: red;
    width:100%;
    height:10px;

}

.footer-details {
    width: 30%;
    font-size: 16px;
    line-height: 1.6;
}

.footer-details h2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-details p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.footerContact {
    width: 40%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.footerContact img {
    margin-right: 10px; 
    width: 30px;
    height: 30px;
    float:right;

}

.footerContact p {
    margin-bottom: 10px;
    text-align: right;
}

.footerContact i {
    margin-right: 10px;
}

.socialmedia {
    margin-top: 10px;
}

.socialmedia a {
    margin-right: 10px;
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float:right;   
}

.footer_Bottom {
    background-color: red;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    color: white;
}

.footer_Bottom p {
    margin: 0;
    font-size: 14px;
}

.feedbackformBtn {
    text-align: center;
    margin-top: 20px;   
}

.feedbackformBtn button {
    background-color: #ff0000; 
    color: white;             
    padding: 10px 20px;        
    font-size: 16px;          
    border: none;             
    border-radius: 5px;        
    cursor: pointer; 
    float:right;         
}

.feedbackformBtn button:hover {
    background-color: #10bb4e;
}

/* Every blog post css */

.blogpost_container {
    margin: 20px auto;
    background-color: #f9f9f9; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogpost_text {
    line-height: 1.6;
}

.blogpost_text h1 {
    font-size: 50px; 
    margin-bottom: 10px; 
    color: #580333;
}

.img_container{
    display: flex;              
    justify-content: center;    
    margin-bottom: 15px; 
}

.img_container img {
    width: 600px;
    height:600px; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.blogpost_text .blog-date {
    font-size: 20px; 
    color: #7e8383;
    margin-bottom: 15px; 
    font-style: italic;
    margin-left: 10px;
}

.blogpost_text h2 {
    text-align: center;
    font-size: 30px; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    color: black;
    text-decoration: underline;
}

.blogpost_text p{
    font-size: 20px;
    margin-left: 10px;
}


.blogpost_text h3 {
    font-size: 20ppx; 
    margin-top: 15px; 
    margin-bottom: 5px; 
    color: black; 
    margin-left: 10px;
}

.blogpost_text ul {
    font-size: 20px;
}

ol {
    font-size: 20px;
}

