/* Header */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: black;
}

.navigationBar {
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigationBar a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navigationBar a:hover {
    background-color: red;
    color:white;
}


.textSpan{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    font-style: italic;
}


.button {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
    border-radius: 8px;
}

.button:hover {
    background-color: rgba(248, 22, 10, 0.8);
    color: white; 
}

/*Admin Dashboad css */

.background_container {
    height: 100vh;
    background: url('dashboard.avif') no-repeat center center/cover;
    position: relative;
}

.background_text {
    position: absolute;
    color: black;
    text-align:left ;
}

.background_text h1 {
    font-size: 110px;
    font-weight: bold;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color:white;
}

/*table_Classregistration css */
.table1 {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
}

.table1 table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table1 th, 
.table1 td {
    padding: 12px;
    text-align: left;
    border: 1px solid #000000;
}

.table1 th {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.table1 tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table1 tr:hover {
    background-color: #aae3f5;
}

.table1 td {
    color: #000000;
}

.table1 h1{
    color: rgb(112, 6, 6);
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: white;
}

.registerBtn{
    background-color: rgb(147, 1, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.registerBtn:hover {
    background-color: #043306; 
}

